.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app a,
.app a:visited,
.app a:hover,
.app a:active {
  color: inherit;
}

.workspace {
  flex: 1;
  display: flex;
  min-height: 0;
  position: relative;
}

.canvasPane {
  flex: 1;
  min-width: 0;
  position: relative;
  overflow: hidden;
}

.previewPane {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}
